fastapi==0.115.12
uvicorn==0.34.2
pandas==2.2.3
numpy==2.2.6
sqlalchemy==2.0.41
pydantic==2.11.5
python-dotenv==1.1.0
python-multipart==0.0.20
gunicorn==23.0.0

# Added for auth, background jobs, rate limiting and redis
python-jose==3.3.0
passlib[bcrypt]==1.7.4
redis==4.7.0
rq==1.13.0
slowapi==0.1.6
cachetools==5.3.1